{% extends "layout.html" %}


{% block body %}

	{% block logout %}
		<form align="right" name="form1" method="post" action="/logout">
			<label>
				<input class="logout-btns" name="userLogout" type="submit" id="button-logout" value="log out">
			</label>
		</form>
	{% endblock %}



	<form action="/defaulter" method="post" enctype="multipart/form-data">
		<div class="container">
			<p>
				Please fill the following details to generate all defaulters members list:<br>
			</p>

			<br>
			Type of defaulter List:
			<select name="defaulterList" id="defaulterType" required>
				<option disabled selected>Select Query</option>
				<option value="MDD">Maintenance Dues</option>
				<option value="CCD">Construction cost Due</option>
				<option value="BOTH">Both Maintenance and Construction</option>
			</select>
			<br><br>

			<div class="box-center">
				<label for="membersDataFile">Select input data file <br>(only xls or other excel file formats supported):</label>
				<br>
				<input type="file" id="membersDataFile" name="datafile" required>
				<!-- <img src="static/images/dbIcon.png" alt="Database file upload" width="120" height="80"> -->
				<!-- <img src="static/images/dbIcon2.svg" alt="Database file upload" width="80" height="60"> -->
			</div>

			<br>
			<button class="login-btns" type="submit">Generate Defaulters</button>
		</div>
	</form>

{% endblock %}
