{% extends "layout.html" %}

{% block body %}

    <form action="/" method="post">
        <div class="container">

            Please input member's data file in xls (MS-excel) foramat. To read data from the file.
            <br><br>
            <!-- type="file" creates a file-selection field and "Browser" button for upload -->
            <input type="file" id="myFile" name="fileName">
            <!-- <p>
                <label for="MembersData">members Data File</label>
                <input multiple id="memberData" name="memberDataFile" type="file">
            </p> -->


            <!-- <input type="submit"> -->
            </br><br>
            <button type="submit">Upload</button>

        </div>

    </form>
{% endblock %}

