<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <!-- Link the css stylesheet defined in static folder -->
        <link href="static/styles.css" rel="stylesheet">
        <title>Maintenance Request Generator</title>
    </head>

    <body>
        <h1 class="heading1">Name of Appartment CGHS Pvt. Ltd</h1>
        <h2 class="heading2">Maintenance Generation Request Form</h2>

        <div class="jumbotron">
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
