{% extends "layout.html" %}

{% block body %}

	<div class="login-form-left">
	<!-- <div> -->
		<form action="/login" method="post">
			<div>
			<!-- <div class="contianer"> -->
				Welcome! <br>Please enter credentials to login
				<br><br>
				<input autocomplete="off" autofocus name="userName" placeholder="User Name / Login id" type="text" required>
				<br>
				<input autocomplete="off" name="password" placeholder="Your Password" type="password" required>
				<br><br>
				<div>
					<button type="submit">Login</button>
					<!-- <span class="psw">Forgot <a href="/resetpwd">password?</a></span> -->
					<br>
					<a href="/resetpwd"> Forgot password? </a>
				</div>
			</div>
		</form>
	</div>

	<div class="vl"></div>
	<div class="vl-innertext">OR</div>


	<div class="form-register">
		<form action="/register" method="get">
			<div>
				First time user<br>
				Creat a new account.<br><br>
				<button type="submit" name="newAccount" value="register"> New Account</button>
			</div>
		</form>
	</div>
{% endblock %}


