
{% extends "layout.html" %}


{% block body %}
	<script type="text/javascript" src="static/myFunctions.js"> </script>

	<div class="container">
		Hello! {{ userName }}<br>
		You are logged in with user name = <bold>{{ userName }}</bold>.
		<br>

		<form action="/query" method="get">
			<button type="submit" name="selection" value="newQuery">Individual Query</button>
			<button type="submit" name="selection" value="defaulter">Defaulters</button>
			<button type="submit" name="selection" value="logout">Logout</button>
		</form>
	</div>

{% endblock %}
