{% extends "layout.html" %}

{% block body %}

    {% block logout %}
        <form align="right" name="form1" method="post" action="/logout">
            <label>
                <input class="logout-btns" name="userLogout" type="submit" id="button-logout" value="log out">
            </label>
        </form>
    {% endblock %}

    <form action="/query" method="post" enctype="multipart/form-data">
        <div class="container">
            <br>Please fill the following details to generate the Quaterly Maintenance demand for the members:<br>

            <br>Month From
            <!-- <input name="month1" type="date" autocomplete="off" min="1" max="12" placeholder="Starting Month"> -->
            <input name="month1" type="date" autocomplete="off">
            to
            <input name="month2" type="date" autocomplete="off" placeholder="Ending Month">
            <br><br>

            <select id="userQuerySelect" required>
                <option disabled selected>Query Type</option>
                <option value="flatNo">Single Flat No.</option>
                <option value="memberNo">Single Member No.</option>
                <option value="allFlats">All Flats</option>
                <option value="allMember">All Members</option>
            </select>
            <br>

            <span>
                <input type="radio" name="inputSelection" onclick="disableMemberInput()"> Flat Number
                <input type="radio" name="inputSelection" onclick="disableFlatInput()"> Membership Number
                <input type="radio" name="inputSelection" onclick="disableAllInputs('fltNo')"> All Flats
                <input type="radio" name="inputSelection" onclick="disableAllInputs('memberNo')"> All Members
            </span>
            <br>

            <!-- <span>
                <input type="radio" name="inputSelection" id="flatNum" onclick="disableMemberInput()">
                <label for="flatNum">Flat Number</label>
                <input type="radio" name="inputSelection" id="memberNum" onclick="disableFlatInput()">
                <label for="memberNum">Membership Number</label>
                <input type="radio" name="inputSelection" id="allFlat" onclick="disableAllInputs('fltNo')">
                <label for="allFlat">All Flats</label>
                <input type="radio" name="inputSelection" id="allMember" onclick="disableAllInputs('memberNo')">
                <label for="allMember">All Members</label>
            </span> -->

            <input type="text" name="FlatNo" id="fltNo" autocomplete="off" autofocus placeholder="Flat Number">
            <!-- <input type="text" style="display: none;" name="FlatNo" id="fltNo" autocomplete="off" autofocus placeholder="Flat Number"> -->
            <br>
            <input type="text" name="membershipNo" id="memberNo" autocomplete="off" autofocus placeholder="Membership Number">
            <!-- <input type="text" style="display: none;" name="membershipNo" id="memberNo" autocomplete="off" autofocus placeholder="Membership Number"> -->
            <br><br>
            <input type="checkbox" id="selectionAll" name="allSelected" value="allMembers" onclick="enableAllInputs()">All Members
            <br>

            <div class="align-left-side">
                <label for="membersDataFile">Select input data file (only xls or other excel file formats supported):</label>
                <br>
                <input type="file" id="membersDataFile" name="dataFile" required>
            </div>

            <div class="align-right-side">
                <input type="file" id="requestTemplate" name="tempFile" required>
            </div>
            <br><br>

            <button class="login-btns" type="submit">Generate Demand</button>
            <!-- </form> -->
        </div>
    </form>

	{% block script %}
		<script type="text/javascript" src="static/dynamicFunctions.js"></script>
        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	{% endblock %}

    <!-- <footer>
        <p class="footer">Name of the Appartment<br>
        </p>
    </footer> -->
    <footer class="footer">  
        @Copyright <a href="#"> Name of Appartment </a>, Delhi, India 2020- All Right Reserved.
    </footer>

{% endblock %}