{% extends "layout.html" %}

{% block body %}

	<h3 class="heading2">New User Registration</h3>
	<form action="/register" method="post">
		<div class="container fieldset">
			Name : <input autocomplete="off" autofocus name="uName" placeholder="Your Name" type="text" required>
			<br><br>
			Email : <input autocomplete="off" name="userEmail" placeholder="email" type="text" required>
			<br><br>
			Password : <input autocomplete="off" name="userPwd" placeholder="Password" type="password" required>
			<br><br>
			<!-- <input autocomplete="off" name="" -->
			<button type="submit">Register</button>
		</div>

	</form>



{% endblock %}
