
{% extends "layout.html" %}

{% block body %}

	<div>
		File Uploaded successfully.<br>
		File uploaded to path = {{ fPath }}<br>
		Name of uploaded data file  = {{ fName }}
		<br><br>
		Results downloaded at path = {{ session.outputFolder }}
		<br><br>
		<a href="https://www.google.com" download>
			<button class="download-btn"><i class="fa fa-download"></i> Download</button>
		</a>
	</div>

	<br>

	<!-- Pdf file uploaded by you is :: <a href= "file://{{ fPath }}{{ fName }}"> {{ fName }} </a><br> -->

	<!-- <iframe src="file://{{ fPath }}{{ fName }}" width="800" height="500" ></iframe>
	<br><br>
	<object data="file://{{ fPath }}{{ fName }}" width="800"height="500"> </object> 
	<br><br>
	<embed src="file://{{ fPath }}{{ fName }}" width="800" height="500"> -->
	<!-- <br> -->


{% endblock %}
